.download__section {
    padding: 131px 0 114px;
}

.download__container {
    margin: 0 auto;
    width: 100%;
    max-width: 1170px;
    padding: 0 20px;
}

.download__item {
    display: block;
    text-align: center;
}

.download__title {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 23px;
}

.download__subtitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 50px;
}

.download__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #FF4343;
    border: 1px solid #FF4343;
    max-width: 370px;
    width: 100%;
    cursor: pointer;
    transition: .3s ease-out;
}

.download__button:hover {
    background-color: #E71414;
}

.download__button:active {
    background-color: #FF4343;
    box-shadow: 4px 4px 30px #FF4343;
}

.button__link {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    min-height: 78px;
}

@media (max-width: 1024px) {
    .download__section {
        padding: 93px 0 78px;
    }
    .download__title {
        font-size: 30px;
        line-height: 35.22px;
        margin-bottom: 21px;
    }
    .download__subtitle {
        font-size: 18px;
        line-height: 21.13px;
        margin-bottom: 46px;
    }
    .download__button {
        max-width: 369px;
    }
    .button__link {
        font-size: 24px;
        line-height: 28.18px;
    }
}

@media (max-width: 320px) {
    .download__section {
        padding: 67px 0 45px;
    }
    .download__title {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 20px;
    }
    .download__subtitle {
        font-size: 13px;
        line-height: 15.26px;
        margin-bottom: 13.42px;
    }
    .download__button {
        max-width: 278px;
    }
    .button__link {
        font-size: 18px;
        line-height: 21px;
    }
}