@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@0;1&family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900;1,200;1,300;1,400;1,900&display=swap');
body {
    margin: 0 auto;
    max-width: 1510px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

@import 'header';
@import 'features';
@import 'work';
@import 'team';
@import 'testimotionals';
@import 'download';
@import 'footer';
@media (max-width: 320px) {
    .menu__list {
        display: none;
    }
    .banner__section {
        padding-bottom: 52px;
    }
    .logo {
        max-width: 130px;
    }
    .banner__menu {
        margin-bottom: 50px;
    }
    .block__title {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 33px;
        max-width: 280px;
    }
    .block__subtitle {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 51px;
        max-width: 280px;
    }
    .block__button {
        max-width: 280px;
    }
    .features__section {
        padding: 87px 0 80px;
    }
    .features__block {
        grid-template-rows: repeat(6, 221.54px);
        grid-template-columns: repeat(1, 279px);
        row-gap: 60px;
        column-gap: 20px;
    }
    .features__img {
        margin-bottom: 54px;
        width: 85px;
        height: 85px;
    }
    .features__title {
        margin-bottom: 23px;
        font-size: 18px;
        line-height: 21px;
    }
    .features__text {
        font-size: 14px;
        line-height: 16px;
    }
    .work__container {
        width: 100%;
        display: grid;
        grid-template-rows: repeat(4, 144px);
        grid-template-columns: 1fr 1fr;
    }
    .work__title {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 32px;
    }
    .work__subtitle {
        font-size: 14px;
        line-height: 16px;
    }
    .work__img {
        width: 256px;
        height: 230px;
    }
    /*-----------------------------------------*/
    /*team*/
    .team__section {
        padding: 78px 0;
    }
    .team__block {
        display: grid;
        grid-template-columns: repeat(1, 280px);
        grid-template-rows: repeat(4, 521px);
    }
    .team__img {
        margin-bottom: 25px;
        width: 227px;
        height: 227px;
    }
    .team__title {
        font-size: 18px;
        line-height: 21px;
    }
    .team__subtitle {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 22px;
    }
    .team__text {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 39px;
    }
    .list__item {
        width: 33px;
        height: 33px;
    }
}