.testimonials__section {
    background-color: #5C3249;
    overflow: hidden;
}

.testimonials__item {
    display: flex;
    flex-wrap: wrap;
}

.testimonials__photo {
    width: 50%;
    height: 490px;
    position: relative;
}

.testimonials__img {
    max-width: 740px;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
}

.testimonials__content {
    width: 50%;
    margin-left: 129px;
    max-width: 471px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonials__title {
    font-family: 'Cardo', serif;
    font-style: italic;
    font-weight: normal;
    font-size: 36px;
    line-height: 49px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.testimonials__subtitle {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media (max-width: 1024px) {
    .testimonials__photo {
        height: 332px;
    }
    .testimonials__content {
        width: 50%;
        margin-left: 88px;
        max-width: 330px;
    }
    .testimonials__img {
        max-width: 502px;
    }
    .testimonials__title {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 20px;
    }
    .testimonials__subtitle {
        font-size: 12px;
        line-height: 14px;
    }
}

@media (max-width: 320px) {
    .testimonials__item {
        width: 320px;
    }
    .testimonials__container {
        padding-top: 0;
    }
    .testimonials__photo {
        margin-top: 0;
    }
    .testimonials__img {
        margin-top: 0;
        width: 320px;
        height: 212px;
    }
    .testimonials__content {
        text-align: center;
        margin-bottom: 120px;
        width: 275px;
        margin-left: 20px;
        margin-right: 25px;
    }
    .testimonials__title {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 20px;
        width: 275px;
    }
    .testimonials__subtitle {
        font-size: 12px;
        line-height: 14px;
        width: 275px;
    }
}